.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 10px;
  height: 100vh;
  background-color: #007a8d;
  padding: 10px;
}

.container-email {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 522px;
  min-width: 370px;
}

.card-container {
  display: flex;
}

/* card bagian kanan */
.left {
  flex: 1;
  height: 522px;
  background-color: #00b4cf;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.left p {
  font-size: 0.9rem;
}

.left-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* card bagian kiri */
.right {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
}

.right-container {
  width: 70%;
  height: 80%;
  text-align: center;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #00b4cf;
}

button {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-out;
}

button:hover {
  opacity: 0.7;
}

textarea {
  height: 100px;
}

@media screen and (max-width: 500px) {
  .left {
    display: none;
  }
}
