@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.HomePage {
  display: flex;
  flex-direction: column;
  font-family: "Crimson Text", serif;
}

button {
  cursor: pointer;
}

/* Section 1 name */
.section-name {
  height: auto;
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1595044426077-d36d9236d54a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.name-page {
  color: #000;
  display: flex;
  flex-direction: column;
  padding-top: 20%;
  margin-left: 50px;
  gap: 20px;
}

.name-page button {
  color: #000;
  background: none;
  border: 0.5px solid black;
  border-radius: 10px;
  width: 130px;
  padding: 15px;
}

/* Section bio */
.section-biografi {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.foto-bio img {
  margin: 80px 0px 0px 100px;
}

.isi-bio {
  margin-top: 100px;
  text-align: start;
}

.isi-bio img {
  margin: 170px 0px 50px 150px;
  width: 500px;
  height: 400px;
}

p {
  font-family: "Roboto", sans-serif;
}

/* Media query mobile */
@media (max-width: 500px) {
  /* name page */
  .name-page {
    padding-top: 40%;
  }

  /* Section biografi */
  .section-biografi {
    padding: 0px;
    flex-direction: column;
  }

  .foto-bio img {
    margin: 0;
  }
  .isi-bio img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

  .isi-bio p,
  h2 {
    margin: 20px;
  }
}
