@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

/* Navbar container */
.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

/* Navbar logo */
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  text-align: center;
}

.navbar-logo p {
  font-family: "Caveat", cursive;
  font-size: 30px;
}

/* Navbar menu */
.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-right: 35px;
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  color: #000;
  border-radius: 50px;
  padding: 5px 20px 5px 20px;
}

.navbar-menu li a:hover {
  background-color: #fff;
}

/* Menu toogle */
.menu-toggle {
  margin-right: 20px;
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 35px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition-duration: 0.5s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 5px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1,
#bar3 {
  width: 100%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.5s;
  background-color: red;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
  background-color: red;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
  background-color: red;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

/* Media Query Mobile */
@media (max-width: 500px) {
  /* menu toggle */
  .menu-toggle {
    display: flex;
  }

  /* navbar menu */
  .navbar-menu {
    position: fixed;
    margin: 0;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 75%;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(-100%);
    transition: all 1s;
    background-color: #fff;
    overflow: scroll;
  }

  .navbar-menu.slide {
    transform: translateX(0);
  }

  /* menu list hover */
  .navbar-menu li a:hover {
    background-color: #00000044;
  }
}
