.body-projek-aku {
  margin: 0;
  margin-top: -10px;
}

.container-projek-aku {
  margin: 10px 50px 10px 50px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* koneten projek */
.tittle-projek {
  flex: 1.6;
  margin-top: 40px;
}

.paragraf-title {
  width: 50%;
}

/* Card project */
.konten-kanan {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card-projek {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-projek div {
  position: relative;
  width: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.card-projek div img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.3s ease;
}

.card-projek div:hover img {
  transform: scale(1.2);
}

.card-projek div .tittle-box {
  content: "";
  height: 100px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  z-index: 1;
  transform: translateY(50px);
  transition: 0.5s ease;
}
.card-projek div:hover .tittle,
.card-projek div:hover .tittle-box {
  transform: translateY(0);
}

.card-projek div .tittle {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 2;
  bottom: 10px;
  padding: 10px;
  transform: translateY(50px);
  transition: 0.5s ease;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .body-projek-aku {
    margin: 0;
  }

  .tittle-projek {
    margin: 20px;
  }

  .container-projek-aku {
    margin: 0;
    flex-direction: column;
    height: 105vh;
  }

  .paragraf-title {
    width: 100%;
  }

  /* Card project */
  .konten-kanan {
    margin-bottom: 600px;
    margin-top: -8.5px;
    gap: 7px;
  }
  .card-projek div {
    width: 189px;
    height: 301px;
    border: none;
  }
}
